
.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}
.header h1 {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--green);
}
.header span {
  color: var(--gray-100);
}
.new-task-form {
  position: absolute;
  height: 3.375rem;
  bottom: calc(-3.375rem / 2);
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}
.new-task-form input {
  height: 100%;
  flex: 1; 
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
}
.new-task-form input:focus {
  border-color: var(--green);
}
.new-task-form input::placeholder {
  color: var(--gray-300 );
}
.new-task-form button {
  height: 100%;
  padding: 0 1rem;
  background: var(--green);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875em;
  font-weight: bold;
  gap: 0.1rem;
}
